<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/nav.ejs") %>

    <div class="w-75 p-3 mx-auto bg-info">
      <h2>Course Index</h2>

      <!-- Course Index -->
      <% if (courses && courses.length > 0) { %>
      <ul class="list-group">
        <% courses.forEach((course) => { %>
        <li class="m-3 list-group-item bg-light">
          <strong>
            <a href="/course/<%= course._id %>"><%= course.name %></a>
          </strong>
          - <%= course.description %><br />
          (<b>Subject:</b> <%= course.subject %>, <b>Credits:</b> <%=
          course.credits %>)

          <!-- Add to Schedule Form -->
          <% if (user && !user.isTeacher) { %>
          <!-- Show only for students -->
          <form action="/schedule/add" method="POST" class="mt-2">
            <input type="hidden" name="courseId" value="<%= course._id %>" />
            <button type="submit" class="btn btn-primary">
              Add to Schedule
            </button>
          </form>
          <% } %>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No courses available yet.</p>
      <% } %>
    </div>
  </body>
</html>
