<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= course.name %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= course.name %></h1>
    <p><strong>Description:</strong> <%= course.description %></p>
    <p><strong>Subject:</strong> <%= course.subject %></p>
    <p><strong>Credits:</strong> <%= course.credits %></p>

    <a href="/">Back to Course List</a>
  </body>
</html>
